[disk_utilization]
index: 1
module: disk_utilization

[apache_requests]
index: 2
module: log_processor
logfile: /var/log/apache2/access_log
label.1: HTTP GET
regex.1: "GET [^\s]+ [^\s]+"
label.2: HTTP POST
regex.2: "POST [^\s]+ [^\s]+"
label.3: HTTP PUT
regex.3: "PUT [^\s]+ [^\s]+"
label.4: HTTP OPTIONS
regex.4: "OPTIONS [^\s]+ [^\s]+"
label.5: HTTP HEAD
regex.5: "HEAD [^\s]+ [^\s]+"

[varnish_status]
index: 3
module: log_processor
logfile: /var/log/varnish/varnishncsa.log
label.1: HTTP 1XX
regex.1: "[^\s]+ [^\s]+ [^\s]+" 1\d\d
label.2: HTTP 2XX
regex.2: "[^\s]+ [^\s]+ [^\s]+" 2\d\d
label.3: HTTP 3XX
regex.3: "[^\s]+ [^\s]+ [^\s]+" 3\d\d
label.4: HTTP 4XX
regex.4: "[^\s]+ [^\s]+ [^\s]+" 4\d\d
label.5: HTTP 5XX
regex.5: "[^\s]+ [^\s]+ [^\s]+" 5\d\d
